#數據預處理 Data Preprocessing 依照下列步驟

#導入Lib

#補齊遺失數據

#數據明確

#數據分割

#數據規範化

In [272]:
import numpy as np

In [273]:
import matplotlib.pyplot as plt

In [274]:
import pandas as pd

In [275]:
#import dataset

In [276]:
dataset = pd.read_csv('SaleData.csv')

In [277]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0       Yes
7   France  48.0  79000.0        No
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

#Matrix of feature 特徵矩陣

#所有的行，不包含最後一列

In [278]:
X = dataset.iloc[:,:-1].values

In [279]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

#所有的行，單獨取出第三列

In [280]:
Y = dataset.iloc[:,3].values

In [281]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes'],
      dtype=object)

# missing data 1 取最大值，取最小值，中間值 2. 平均數 3.刪除資料

In [282]:
from sklearn.preprocessing import Imputer

#missing_values : integer or "NaN", optional (default="NaN")
    The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For missing values encoded as np.nan,
    use the string value "NaN".

strategy : string, optional (default="mean")
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      the axis.
    - If "median", then replace missing values using the median along
      the axis.
    - If "most_frequent", then replace missing using the most frequent
      value along the axis.

axis : integer, optional (default=0)
    The axis along which to impute.

    - If `axis=0`, then impute along columns.
    - If `axis=1`, then impute along rows.

In [283]:
imputer = Imputer(missing_values='NaN',strategy='mean',axis=0)

#將X所有行的資料:,第一到第三列的資料，喂進去

In [284]:
imputer = imputer.fit(X [:,1:3])

#返回處理好的數據

In [285]:
X [:,1:3]=imputer.transform( X[:, 1:3])

#原本NaN的數據將會替換成平均值

In [286]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

#數據明確

In [287]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [288]:
labelencoder_X = LabelEncoder()
labelencoder_Y = LabelEncoder()

#將國家Encoder變成0,1,2

In [289]:
X[:,0]=labelencoder_X.fit_transform(X[:,0])

In [290]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [291]:
Y=labelencoder_Y.fit_transform(Y)

In [292]:
Y

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 1])

#一熱轉碼

In [293]:
onehotencoder = OneHotEncoder()

In [294]:
X = onehotencoder.fit_transform(X).toarray()

In [295]:
X

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
        0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 0.]])

#數據分割

In [296]:
from sklearn.cross_validation import train_test_split

In [298]:
X_train,X_test,Y_train,Y_Test = train_test_split(X,Y,test_size= 0.2,random_state =0)

In [300]:
from sklearn.preprocessing import StandardScaler

In [303]:
sc_X=StandardScaler()

In [304]:
X_train = sc_X.fit_transform(X_train)

In [305]:
X_test = sc_X.fit_transform(X_test)